<h1>Fifa-Systemet</h1><br>

<%= sessions %><br>

<%= link_to 'Admin', admin_url, class: 'button success radius expand'  %> <br>

<%= link_to 'Scoreboard',   {:controller => :statistics, :action => :score_board}, class: 'button success radius expand'   %>


